body {

    font-family: "Rubik", serif;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: #f0f0f0; 
}

body p{
    font-size: 18px;
    font-weight: 300;
}

/* Cabecalho*/
.cabecalho {
    height: 60vh;
    position: relative;
}

.cabecalho .conteudo img {
    width: 800px;
    margin-left: 100px;
}

.caixa1 { 
    background-color: black; 
    color: white; 
    z-index: 0;
}

.caixa1 p {
    width: 300px;
    margin-left: 25%;
    margin-top: 20px;
   
}

.caixa2 {
    background-color: #900AF6; 
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%); 
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 60%; 
    height: 100%; 
    z-index: 1;
}

.caixa2 .conteudo {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
}

/*Texto apresentação*/
.apresentacao {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.apresentacao p {
    margin-top: 20px;
    width: 800px;
}

/*Informações*/
.info {
    color: white;
    background-color: #900AF6;
}

.fundo {
    background-color: white;
    display: flex;
    height: 350px;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    box-shadow: 2px 15px 19px -18px rgba(0,0,0,0.75);
}

.lado2 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3; /* Adiciona o z-index para controlar a sobreposição */
}

.lado2 img {
    width: 700px;
    transform: translate(-30%, -15%);
}

.lado1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse a área */
    z-index: 1; /* Garante que a esquerda fique acima dos outros elementos */
    color: white;
}

/* Pseudo-elemento para aplicar o clip-path */
.lado1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Cor de fundo da esquerda */
    clip-path: polygon(0 0, 100% 0, 51% 100%, 0% 100%); /* Invertendo o efeito para a esquerda */
    z-index: 2; /* O pseudo-elemento ficará acima de todos os outros */
    color: white;
}

.lado1 .content {
    position: absolute; /* Positiona o conteúdo de forma absoluta dentro de .lado1 */
    left: 30px; /* Alinha o conteúdo à esquerda */
    z-index: 4; /* Garante que o conteúdo fique acima do pseudo-elemento */
    color: white; /* Cor do texto */
}

.l-esquerdo {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3; /* Adiciona o z-index para controlar a sobreposição */
}

.l-esquerdo img {
    width: 700px;
    position: absolute; /* Positiona o conteúdo de forma absoluta dentro de .lado1 */
    left: 150px; /* Alinha o conteúdo à esquerda */
    transform: translate(-20%, -15%);
}

.l-direito {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse a área */
    z-index: 1; /* Garante que a esquerda fique abaixo da imagem */
}

/* Pseudo-elemento para aplicar o clip-path */
.l-direito::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Cor de fundo da esquerda */
    clip-path: polygon(49% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 2; /* O pseudo-elemento ficará acima de todos os outros */
}

/* Ajuste no texto */
.l-direito h1 {
    position: relative; /* Garante que o texto fique acima do pseudo-elemento */
    z-index: 3; /* Torna o texto visível acima do pseudo-elemento */
    color: white; /* Adiciona uma cor ao texto para ficar visível */
}

.l-direito .content {
    position: absolute; /* Positiona o conteúdo de forma absoluta dentro de .lado1 */
    right: 30px; /* Alinha o conteúdo à esquerda */
    z-index: 4; /* Garante que o conteúdo fique acima do pseudo-elemento */
    color: white; /* Cor do texto */
}


/*Processo de trabalho*/
.trab {
    margin-top: 100px;
    margin-bottom: 100px;
}

.title {
    margin-bottom: 100px;
}

.imagem {
    border: 1px solid #ccc;
    background-color: white;
    height: 250px;
    border-radius: 30px;
    overflow: hidden; /* Remove qualquer rolagem */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img {
    width: 100%; /* Faz a imagem ocupar toda a largura da classe .imagem */
    height: 100%; /* Faz a imagem ocupar toda a altura da classe .imagem */
    object-fit: cover; /* Garante que a imagem seja cortada proporcionalmente para preencher o espaço */
    border-radius: 20px; /* Aplica o mesmo border-radius para manter a circularidade */
}

.title-card {
    display: flex;
    margin-bottom: 20px;
}

.bola1 {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #ccc;
    margin-right: 15px;
}

.bola2 {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #00DFC3;
    margin-right: 15px;
}

.bola3 {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #FF8E01;
    margin-right: 15px;
}

.bola4 {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #537DDF;
    margin-right: 15px;
}

/* Seção Portfólio */
.port {
    box-shadow: 2px 15px 19px -18px rgba(0,0,0,0.75);
}

.port .direita {
    background-color: #900AF6; 
    color: white; 
    z-index: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.port .esquerda {
    clip-path: polygon(0% 0%, 65% 0, 90% 100%, 86% 100%, 0% 100%);
    width: 900px;
    background-color: white;
    position: absolute; 
    height: 100%; 
    z-index: 1;
}

.port img {
    width: 110%;
    box-shadow: inset -12px 0px 15px -5px #FFFFFF;
    transition: 0.5s;
}

.port img:hover {
    width: 105%;
}

.direita .content {
    width: 500px;
}

.port .caixa {
    height: 450px;
    margin-bottom: 100px;
    display: flex;
    width: auto;
    position: relative;
}

/*Seção De valores*/
.pricing-section {
  padding: 3rem 1rem;
  margin-bottom: 100px;
  
}
.pricing-section .val {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.pricing-section .val h5 {
    width: 120px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

.valor-card {
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 15px 19px -18px rgba(0,0,0,0.75);
}

.pricing-card {
  border: 1px solid #eaeaea;
  border-radius: 12px;
  padding: 1.5rem;
  background: #ededed;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.pricing-card1 {
    border: 1px solid #eaeaea;
    border-radius: 12px;
    padding: 1.5rem;
    background: #ededed;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
    padding-bottom: 21%;
  }
.pricing-card:hover {
  transform: translateY(-6px);
}

.pricing-card1:hover {
    transform: translateY(-6px);
  }
.pricing-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.pricing-price {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}
.pricing-description {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #6c757d;
}
.pricing-btn {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
}
.checklist {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}
.checklist li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
.checklist li::before {
  content: "✔";
  color: #9b59b6;
  font-weight: bold;
  margin-right: 0.5rem;
}

/*footer*/
footer {
    background-color: #900AF6;
    height: 60vh;
    color: white;
    display: flex; /* Garante alinhamento no centro do footer */
    justify-content: center;
    align-items: center;
}

footer .container {
    display: flex;
    flex-direction: column; /* Organiza itens verticalmente */
    justify-content: center;
    align-items: center;
    text-align: center; /* Centraliza o texto */
}

footer .container button {
    border-radius: 20px;
    padding: 10px 25px;
    border: 2px solid white;
    margin-top: 20px; /* Adiciona espaçamento entre o botão e outros itens */
}

footer p {
    font-style: italic; /* Define o texto como itálico */
    font-weight: 300; /* Define o peso da fonte como leve (light) */
}

footer h1 {
    width: 100%; /* Ajusta largura para usar espaço disponível */
    max-width: 500px; /* Garante um limite de largura */
    text-align: center; /* Centraliza o texto */
}


